<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/telito"
        android:label="@string/app_name"
        android:roundIcon="@drawable/telito"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleBeetle"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListarUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EscogerDelegadoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.verApoyosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetalleActividadGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetalleActividad"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.Intermedio"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetallesEvento1"
            android:exported="false"
            android:parentActivityName=".activities.Intermedio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GeneralViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.GeneralActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditarEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CrearActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScreenEsperaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.KitTelecoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReciboDonaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QRDonarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DonacionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CambioContraseniaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CodigoCorreoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IngresoCorreoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>